.nav{
    @apply w-screen overflow-scroll bg-white border-b dark:bg-black/40 border-slate-900/10 lg:px-8 dark:border-slate-300/10 lg:mx-0;
}
.status{
    @apply max-w-screen-xl px-3 py-2 mx-auto font-bold text-white sm:px-6 lg:px-8 bg-emerald-500 dark:bg-emerald-700;
}

.form{
    @apply max-w-xl px-8 py-4 mx-auto bg-white rounded shadow dark:bg-slate-800;
}

.h1{
    @apply my-4 font-serif text-3xl text-center text-sky-600 dark:text-sky-500;
}

.siteTitle {
    display: block;
    font-weight: 900;
    font-size: 30px;
    margin: 20px 0;
    color: whitesmoke;
}


main{
    max-width: 960px;
    margin: 0 auto;
}

.card {
    height: 400px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 4px solid #b0215e;
    margin-bottom: 20px;
}

.inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-sizing: border-box;
    padding: 40px;
}

.title {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    color: black;
    position: relative;
    margin: 0 0 20px 0;
}

.subtitle {
    color: #b0215e;
    font-weight: 900;
    text-align: center;
}

